html {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0 1.5rem;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

.left {
    float: left;
    width: 33%;
}

.two {
    float: left;
    width: 33%;
    margin-top: 1.5rem;
    margin-left: 8rem;
    margin-right: 12rem;
}

.middle {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    margin-left: 27rem;
}

.right {
    float: right;
    width: 33%;
}

.graph {
    margin-left: 3rem;
    margin-top: 1rem;

}